<%- include("/KTZ Web Dev/Web-Server/src/views/partials/head") %>
    <h1 class="main-content">Error 404: The page you are trying to access does not Exist </h1>

    <hr class="footer">
    <h4 class="footer">Created by Kshitiz Vikram Singh</h4>
</body>
</html>