<%- include("/KTZ Web Dev/Web-Server/src/views/partials/head") %>
<div class="main-content">    
<h1>Thanks for using this app</h1>
    <p>Hope you enjoyed using this app!</p>
    <p>This app has been made possible thanks to WeatherStack and MapBox APIs</p>
    <p>--regards KTZ </p>
    
</div>
    <hr class="footer">
    <h4 class="footer">Created by Kshitiz Vikram Singh</h4>
</body>
</html>